*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Spartan',sans-serif;
    background-color: hsl(222, 26%, 31%);
    color:hsl(0, 0%, 100%);
}

.white-body{
    background-color: hsl(0, 0%, 90%);
    color:hsl(60, 10%, 19%);
}

.purple-body{
    background-color: hsl(268, 75%, 9%);
    color:hsl(52, 100%, 62%);
}

.container{
    margin: auto;
    padding: 3rem;
}

.flex{
    display:flex ;
}

.header{
    margin: 3rem 0rem;
    justify-content: space-between;
}

.title{
    font-size: 3.3rem;
}

.theme-wrapper{
    flex-direction: column;
}

.label{
    text-align: right;
    padding-right:0.8rem;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.number{
   margin-left: 1.2rem;
}

.theme-title{
    text-transform: uppercase;
    margin-right: 3rem;
    font-size: 1.5rem;
}

.theme-switcher{
    align-items: center;
}

.switch-toggle {
    background: hsl(223, 31%, 20%);
    border-radius: 20px;
    height: 3.4rem;
    width: 8.5rem;
    padding: 0.6rem;
}

.switch-toggle input{
    width: 2.2rem;
    height: 2.2rem;
}

input[type="radio"]:checked::after{
    display: inline-block;
    height: 2.2rem;
    width: 2.2rem;
    content: "";
    background-color: hsl(6, 63%, 50%);
    border-radius: 20px;
}

input[type="radio"]:not(:checked)::after{
    display: inline-block;
    height: 2.3rem;
    width: 2.2rem;
    content: "";
    background-color: hsl(223, 31%, 20%);
}


input[type="text"]{
    width: 100%;
    font-family: 'Spartan',sans-serif;
    border-radius: 10px;
    margin-bottom: 3rem;
    padding: 3rem;
    font-size: 4.5rem;
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 100%);
    border: 0;
    text-align: right;
    font-weight: 700;
}

.white-input{
    background-color: hsl(0, 0%, 93%) !important;
    color: hsl(60, 10%, 19%) !important;
}

.purple-input{
    background-color:  hsl(268, 71%, 12%) !important;
    color: hsl(52, 100%, 62%) !important;
}

input[type="text"]:active,:focus{
   outline: none;
}

.keys-wrapper{
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    padding: 3rem;
}

.keys{
    display: grid;
    grid: 
    "key7 key8 key9 keyDelete"
    "key4 key5 key6 keyPlus"
    "key1 key2 key3 keyMinus"
    "keyDot key0 keyDivide keyMultiply"
    "keyReset keyReset keyEquals keyEquals";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-auto-rows: 1fr;
    gap:2rem;
    text-align: center;
}


.button{
    padding: 1.6rem 0;
    font-size: 3.2rem;
    border-radius: 8px;
    color:hsl(221, 14%, 31%);
    cursor: pointer;
    background-color: hsl(30, 25%, 89%);
    font-weight: 700;
    font-family: 'Spartan',sans-serif;
    box-shadow: 0px 5px 0px hsl(28, 16%, 65%);
    border: 0;
}

.white-button{
    background-color:  hsl(45, 7%, 89%);
    color: hsl(60, 10%, 19%);
    box-shadow: 0px 5px 0px hsl(35, 11%, 61%);
}

.purple-button{
    background-color:  hsl(268, 47%, 21%);
    color: hsl(52, 100%, 62%);
    box-shadow: 0px 5px 0px hsl(290, 70%, 36%);
}

.reset{
    grid-area: keyReset;
}

.submit{
    grid-area: keyEquals;
}

.reset,.delete{
    font-size: 2rem;
    background-color: hsl(225, 21%, 49%);
    color:hsl(0, 0%, 100%);
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}

.white-reset,.white-delete{
    background-color: hsl(185, 42%, 37%);
    color:hsl(0, 0%, 100%); 
    box-shadow: 0px 5px 0px hsl(185, 58%, 25%);
}

.purple-reset,.purple-delete{
    background-color: hsl(268, 47%, 21%);
    color:hsl(0, 0%, 100%); 
    box-shadow: 0px 5px 0px hsl(290, 70%, 36%);
}

.submit{
    background-color: hsl(6, 63%, 50%);
    color:hsl(0, 0%, 100%);
    box-shadow: 0px 5px 0px hsl(6, 70%, 34%);
}

.white-submit{
    background-color: hsl(25, 98%, 40%);
    color:hsl(0, 0%, 100%);
    box-shadow: 0px 5px 0px hsl(25, 99%, 27%);
}

.purple-submit{
    background-color: hsl(176, 100%, 44%);
    color:hsl(0, 0%, 100%);
    box-shadow: 0px 5px 0px hsl(177, 92%, 70%);
}

.attribution { 
    margin: 2rem;
    font-size: 1.6rem; 
    text-align: center;
}

.attribution a { 
    color: hsl(6, 63%, 50%); 
}

@media screen and (min-width:600px){
    .container{
        width: 70%;
    }

    .title{
        font-size: 4rem;
    }
}

@media screen and (min-width:1140px){
    .container{
        width: 40%;
    }

}